html, body {
  font-family: 'Oswald'
}

body {
  background-color:#001D4A;
}

.create-note {
  width:40%;
  padding-right:10px;
}

.title {
  text-align:center;
  color:#ECA400;
}

textarea {
  border-radius:5px;
  min-height:50px;
  width: 100%;
  outline: none;
  resize: none;
}

.savebutton {
  border-radius:10px;
  display:inline-block;
  border: 2px solid black;
}

.notetext {
  max-width:550px;
  min-height:50px;
  color:white;
}

.deletebutton {
  border: 2px solid black;
  border-radius:5px;
}

.savenote {
  min-height:25px;
  width:40%;
  background-color:#EAF8BF;
  color:#27476E;
  border-radius:3px;
}
